
<h2> Transfer </h2>

<form asp-controller="Account" asp-action="Transfer" method="post">

    <label>from </label>
    <input type="number" name="senderId" placeholder="Enter account number..." />
    <label>To </label>
    <input type="number" name="receiverId" placeholder="Enter account number..." />

    <label>Amount to transfer</label>
    <input name="amount" placeholder="0.00" />


    <input type="submit" value="Transfer" />
</form>

@if (TempData["Message"] != null)
{
    <div>
        @TempData["Message"]
    </div>
}

@if (TempData["Message1"] != null)
{
    <div>
        @TempData["Message1"]
    </div>
}

@if (TempData["Message2"] != null)
{
    <div>
        @TempData["Message2"]
    </div>
}