@{
    ViewData["Title"] = "Amandas bank";
}
@model AmandasBank.Web.Models.BankRepository

<h1>Amandas Bank</h1>
<a asp-controller="Bank" asp-action="Index">Transactions</a>
<a asp-controller="Transfer" asp-action="Index">Transfer</a>

<div>
    <ul>
        @foreach (var item in Model.Customers)
        {
            <li>
                @item.Name, CustomerID: @item.CustomerId <br />
                Accounts:
                @foreach (var account in item.Accounts)
                {
            <p> ID @account.AccountId, Balance: @account.Balance</p> 


                }
            </li>
        }
    </ul>
</div>
